@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');


/* =========== GENERAL =========== */
body {
  font-family: "Roboto",sans-serif;
  font-size: 16px;

}
img {
  max-width: 100%;
}

nav img {
  height: 80px;
  padding-top: 10px;
  padding-left: 10px;
}




/* =========== NAV/HEADER =========== */

.navbar {
  margin-bottom: 10px;
}

.socialmedia {
  font-size: 24px;
  padding-top: 40px;
  padding-right: 20px;
}

.socialmedia li a {
  color: black;
}


div.navbar-collapse.collapse {
  border-top: 1px solid black;
  /*border-bottom: 1px solid black;
  background: black;*/

}
div.navbar-collapse.collapse li a {
  color: black;
  font-weight: 300;
}

button.navbar-toggle span {
  background: black;
}

button.navbar-toggle {
  padding-top: 30px;
}

/* =========== LAYOUT =========== */


#primary {
  padding-top: 40px;
  padding-bottom: 40px;
}



/* =========== BLOG STYLES =========== */


.post, .widget {
  position: relative;
  /*border: solid 1px #ddd;*/
  background: white;
  margin: 0 0 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.post header h3 {
  background-color: #353333;
}

/*.post header,*/
.post .post-excerpt {
  padding: 20px;
}

.post header h3,
.post header h1 {
  margin: 0 0 15px;
  padding: 10px 10px 15px;
  border-bottom: solid 1px #ddd;
}

.post header h3 a {
  color: white;

}

.post header h1 {
  font-size: 24px;
}

.post-image {
  height: auto;
}

.post-details {
  font-size: 12px;
  width: 90%;
  padding: 0 0 10px;
}

.post-details i.fa {
  padding-left: 10px;
}

.post-details i.fa:first-child {
  padding: 0;
}


/*=========== WIDGETS ============*/
.widget {
  padding: 20px;
}

.widget h4 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: solid 1px #ddd;
}

.widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget ul li {
  margin: 0 0 5px;
}

.widget ul li:hover {
  position: relative;
  margin-left: 1px;
}

/* =========== BLOG STYLES =========== */

.post-comments-badge {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  -webkit-border-radius: 35%;
  -moz-border-radius: 35%;
  border-radius: 35%;
  background: #65adff;
  text-align: center;
  display: table;
}

.post-comments-badge a {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 12px;
  line-height: 20px;
}

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4px;
}

.post-comments-badge:hover {
  background-color: #f48c5a;
}

/* ==== FORMS ==== */
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;
}
